
body {
  body {
  font-family: 'Raleway', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}


}


h1 {
  font-size: 32px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  
  color: #262525;
}
p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}