
body {
  body {
  font-family: 'Raleway', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}


}


h1 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 60px;
line-height: 100%;
letter-spacing: -0.03em;
color: var(--text);
}
p {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
letter-spacing: -0.03em;
color: black;
}

h2 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
letter-spacing: -0.03em;
text-transform: uppercase;
color: var(--text);
}

h3{
  font-family: var(--font-family);
font-weight: 400;
font-size: 45px;
letter-spacing: -0.03em;
color: var(--text);
}

img {
  width: 300px;
  height: 200px;
}